#web_bg {
    /* 背景图像的地址（url括号里）  */
    background: url(https://cdn.jsdelivr.net/gh/972743719/banner/summer.jpeg);
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tab .active {
    background: rgba(255, 255, 255, .8);
}

/*向下滚动*/
#page-header #scroll_down {
    z-index: 2;
}

/* 文章页背景 */
.layout_post > #post {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255, 255, 255, .8);
}

/* 所有背景（包括首页卡片、文章页、页面页等） */
#aside_content .card-widget, #recent-posts > .recent-post-item, .layout_page > div:first-child:not(.recent-posts), .layout_post > #page, .layout_post > #post, .read-mode .layout_post > #post {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255, 255, 255, .8);
}

/* 页脚透明 */
#footer {
    background-color: rgba(255, 255, 255, 0);
}

#customFooterDiv {
    color: #0d0d0d;
}

/* 博主昵称颜色 */
.author-info__name {
    color: #ff7242;
}

/* a标签默认颜色 */

#article-container a {
    color: #00c4b6;
    text-decoration: none;
}

/* 鼠标悬停时的颜色 */

#article-container a:hover {
    color: #e58a8a;
    text-decoration: none;
}

/*a标签颜色*/
a {
    color: #00c4b6;
}

/* 首页中间打字效果上方 */
#page-header #site_title {
    color: #ffffff;
    font-size: 2.8rem;
}

#page-header #site_subtitle {
    font-size: 1.3rem;
}

/* 顶部导航栏 */
#nav a {
    color: #f9f2f4;
}

/*页脚a标签字体颜色*/
#footer-wrap a {
    color: #f549d8;
}

/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */
/*.footer_custom_text {
    color: #00c4b6;
}*/
/* 打字效果渐变 */

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#subtitle {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#subtitle:before {
    background-color: rgba(0, 0, 0, 0);
}

/* 滚动条优化 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent
    );
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #ec29f3;
}

body {
    cursor: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/normal.cur),
    default;
}

a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/ayuda.cur),
    default;
}

p {
    cursor: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/texto.cur),
    default;
}

/* footer样式 */
.github-badge {
    margin-left: 5px;
    display: inline-block;
    border-radius: 4px;
    text-shadow: none;
    color: #fff;
    line-height: 15px;
    background-color: #ABBAC3;
    margin-bottom: 5px;
}

.github-badge .badge-subject {
    display: inline-block;
    background-color: #4D4D4D;
    padding: 4px 4px 4px 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.github-badge .badge-value {
    display: inline-block;
    padding: 4px 6px 4px 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.github-badge .bg-blue {
    background-color: #007EC6;
}

.github-badge .bg-brightgreen {
    background-color: #4DC820;
}

.github-badge .bg-orange {
    background-color: #FFA500;
}

.github-badge .bg-blue {
    background-color: #007EC6;
}

.github-badge .bg-lightgray {
    background-color: #9f9f9f;
}

.github-badge .bg-gradient {
    background: linear-gradient(to right, #3ca5f6, #a86af9);
}


/*文章页样式*/
#page-header.post-bg #post-info {
    position: absolute;
    bottom: 2.5rem;
    /* padding: 0 28%; */
    width: 100%;
    text-align: center;
}

#page-header.post-bg:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

#page-header {
    background-color: transparent;
}

#page-header.post-bg {
    height: 15rem;
}

/*头像hover*/
.card-info-avatar:hover {
    background: url(https://ae01.alicdn.com/kf/H3342af90d24b4d62b9bbfec9688ccc25M.gif)
}
